body{
    color: purple;
    background: royalblue;
}

.menu{
    display: flex;
    justify-content:space-between ;
    background: sandybrown;
    color: rgb(202, 106, 10);
    align-items: center;
}

li{
    display: inline;
    padding: 10px;
    color: rgb(255, 51, 0);
}
/*
.img1{
    width: 25%;
}
.img2{
    width: 25%;
}
.img3{
    width: 25%;
}
.img4{
    width: 25%;
}
.img5{
    width: 25%;
}
.IA{
    background: lightcoral;
}
*/


.tendencias{
    background: rgb(72, 134, 192);
    text-align: center;
    height: 200px;
    background-size: 100%; 
    padding-top: 30px;
}
.tendencias h2{
font-size: 60px;
color:black;
}
.img6{
    width: 25%;
    padding: 20px;
}
.videos{
    background: sandybrown;
    text-align: center;
    padding:10px ;
}
.videos h2 {
    color: beige;
    font-size: 25px;
}
.transporte {
    text-align: center;
    background-color:whitesmoke;
    color: sandybrown;
    padding: 20px;
}
.logo{
    width: 100px;
}

.menu ol li{
    display: inline;
    padding: 10px;
} 

.menu ol li a {
    color: rgb(38, 11, 112);
    text-decoration:none ;
}

.principal{
    background-image: url(../img/cama-triple.jpg);
    text-align: center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
  padding: 100px;  
    color:aqua;
}

.principal img {
    width: 300px;
}

.h1 strong{
    color: greenyellow;
}

.principal-boton{
    width: 300px;
    height: 50px;
    background-color:mediumaquamarine;
    border: none;
    border-radius: 24px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
/*
.padre{
    background: white;
    display: flex;
    flex-wrap:nowrap ;
    flex-direction: row;
    justify-content:center;
    height: 500px;
    align-items: center;
    justify-content: center;
height: 500px;
}

.hijo{
    background: orange;
    width: 200px;
    height: 200px;
    border: 2px solid yellowgreen;
    font-size: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
}
*/
.aplicar{
height:500px ;
background: rgb(184, 172, 104);
display:flex;
color:black ;


}



.aplicar-detalles{
    width: 50%;
    height:inherit ;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center ;
    padding: 0px 30px;
    text-align: center;

}

.aplicar-detalles img{
    height:90% ;
}

.conteiner1{
    display: flex;
    background: rgb(108, 172, 136);
    padding: 20px;
    justify-content: space-around;
    height: 190px;
}
.conteiner2{
    background:rgb(204, 162, 126);
    text-align: center;
}

.col1-container1 {
width: 400px;
}
.col2-container2 {
width: 200px;
}

.col3-container3{
width: 300px;
}

.row1-contacto img{ 
width: 35px;
height: 35px;
}

.row2-contacto img {
    width: 35px;
    height: 35px;
}
.row1-redes img {
width: 35px;
height: 35px;
}

.row1-contacto{
    display: flex;
    margin: 10px 0px;
}

.row1-contacto p {
    padding-left: 10px;
}



